body {
  margin:0;
  top:0;
}

a {
  text-decoration: none;
}

.categoryWrapper, .newArrivalsWrapper  {
  margin:0% 0% 0% 0%;
  padding: 0% 4%  0% 4%;
}

.cartWrapper {
  text-align: right;
  display: flex;
}

.cartWrapper a {
  color:hsl(340,100%,80%); 
}

.footerWrapper {
  color:white;
  padding:10px 50px;
  background-color: #FF7596;
}

.success-alert {
  position:fixed;
  bottom:0;
  right:0;
  margin:2%;
  z-index: 3;
}

.appBarSearchForm, .desktopAppBarRightsideIcons {
  display:block;
} @media only screen and (max-width: 880px) {.appBarSearchForm, .desktopAppBarRightsideIcons {
  display:none;
}}

.mobileAppBarRightsideIcons {
  display:none;
} @media only screen and (max-width: 880px) {.mobileAppBarRightsideIcons {
  display:block;
}}

.mobileAppBarMenuDrawer {
  display:none;
} @media only screen and (max-width: 880px) {.mobileAppBarMenuDrawer {
  display: block;
  background: #FF7596;
}}

.mobileCartButtonWrapper {
  display: none;
} @media only screen and (max-width: 880px) {.mobileCartButtonWrapper {
  display:block;
  position:fixed;
  margin: 0 5% 0 0;
  top:17% ;
  right:0;
  z-index: 5;
  background: #FF7596;
  border-radius: 50%;
  color:white;
}}

.landingPageCarouselWrapper {
  margin: 0 4%;
} @media only screen and (max-width: 800px) {.landingPageCarouselWrapper {
  margin:0;
  }}

.carouselImage {
  border-radius: 25px;
} @media only screen and (max-width: 800px) {.carouselImage {
  border-radius: 0;
  }}

.mobileLandingPageCarousel {
  display:none;
} @media only screen and (max-width: 880px) {.mobileLandingPageCarousel {
  display:block;
}}

.desktopLandingPageCarousel {
} @media only screen and (max-width: 880px) {.desktopLandingPageCarousel {
  display:none;
}}

.carousel-item-padding-40-px {
  padding:0.1%;
} @media only screen and (max-width: 800px) {.carousel-item-padding-40-px {
  padding:0%;
  }}

.outerCartWrapper {
  
} @media only screen and (max-width: 800px) {.outerCartWrapper {
  display:none;
  }}

.registerForm {
  padding :2%;
  width: 60% ; 
  margin:20px auto;
} @media only screen and (max-width: 800px) {.registerForm {
  width: 90%;
  padding:5%;
  }}

.loginForm {
  padding :2%;
  width: 30% ; 
  margin:20px auto;
} @media only screen and (max-width: 800px) {.loginForm {
  width: 90%;
  padding:5%;
  }}

.contentWrapper {
  padding-top:5%;
} @media only screen and (max-width: 880px) {.contentWrapper {
  padding-top:15%;
  }}

.invoiceCheckCard {
  width: 60%;
  margin: 2% auto;
  padding:1% 2%;
} @media only screen and (max-width: 880px) {.invoiceCheckCard {
  width: 80%;
  margin: 10% auto;
  padding:5% 5%;
}}

.invoiceTotalHarga {
  text-align: right;
} @media only screen and (max-width: 880px) {.invoiceTotalHarga {
  text-align: left;
}}

.searchPageWrapper {
  margin:0% 0% 3% 0%;
  padding: 2% 4% 0% 4%;
} @media only screen and (max-width: 880px) {.searchPageWrapper {
  margin:0% 0% 3% 0%;
  padding: 7% 4% 0% 4%;
}}

.mobileFiltersAndSort {
  display:none;
} @media only screen and (max-width: 880px) {.mobileFiltersAndSort {
  display:block;
}}

.desktopFiltersAndSort {
} @media only screen and (max-width: 880px) {.desktopFiltersAndSort {
  display:none;
}}

.productDetailContent {
  margin: 5% 5% 0 5%;
} @media only screen and (max-width: 880px) {.productDetailContent {
  margin: 5% 0 0 0;
  padding:5% 5%;
}}

.andaMungkinJugaSuka {
  margin: 3% 0%;
} @media only screen and (max-width: 880px) {.andaMungkinJugaSuka {
  padding: 5% 0%;
  background:#FF7596;
}}